[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-auth0-component = "*"
colorama = "*"
st-pages = "*"
streamlit-extras = "*"
pymongo = "*"
streamlit-echarts = "*"
nanoid = "*"
st-click-detector = "*"
pandas = "*"

[dev-packages]
black = "*"
ruff = "*"

[requires]
python_version = "3.11"
